main {
  margin: 0 auto;
  width: 300px;
}

h2 {
  margin: 0 auto;
  padding: 10px 30px;
  color: cornflowerblue;
}

input {
  outline: none;
  display: block;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 0;
  width: 100%;
  text-align: center;
  text-indent: 15px;
  line-height: 30px;
  border: 1px solid gray;
}

button {
  display: block;
  width: 100%;
  line-height: 30px;
}
